.loginHead {
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: #f6f4f1;
    color: #000000;
    box-shadow: 0px 3px 6px 5px #485340b6  ;
    border-radius: 0 0 15px 15px;
}
.logo img {
    width: 70px;
    margin-left: 20px;
}