
:root {
    --background-color: #000a23;
}

body {
  height: 100vh;
}
html, body, #root {
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
    background-color: var(--background-color);

}
#root {
  /* width: 100%; */
  min-width: 1280px;
}